.container
  .row
    .col-sm-12.text-center.jumbotron
      %h1 Hello World! Blah
      = "This is code #{$redis}"
      = form_for :summoner, url: matches_path(page: 0) do |f|
        = f.text_field :name
        = f.submit 'Search'
      = button_to('Retry Redis', '/redis/retry', method: :get) unless $redis.ping